.container {
   margin-bottom: 30PX;
}

label {
    color: var(--cinza);     
}

.lista {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;  
    background-color: var(--cinza-claro);
    font-size: 18px;
}

.lista:focus {
    outline: none;
}